<%-include('includes/head')%>
<div class="login-page">
  <div class="form">
      <h1>Welcome, <%=username%>!</h1>
    <p><a href="/user/logout">Log out</a></p>
  </div>
 <div class="form">
     <a href="story/1">Story 1</a>
     <a href="story/2">Story 2</a>
     <a href="story/3">Story 3</a>
     <br/>
     <a href="/user/statement"><p>Download your statement</a>
 </div>
</div>
<%-include('includes/end')%>
